* {
  margin: 0;
}
section {
  height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

input {
  padding: 10px;
  width: 300px;
  border: none;
  outline: 1px solid rgb(218, 218, 218);
  background-color: rgb(241, 241, 241);
  margin: 0 30px;
}
input:focus {
  outline: 1px solid #fb2878;
}

button {
  padding: 10px 20px;
  margin-left: -20px;
  margin-right: 30px;
  border: none;
  background-color: #fb2878;
  font-size: 15px;
  color: white;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 6px #fb2878;
}

/* Topbar */
.topbar {
  background-image: url("images/topbar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}
.topbar h3 {
  font-weight: lighter;
  font-size: 18px;
}
.topbar-nav > p:hover {
  color: #fb2878;
  cursor: pointer;
}

/* Main Header */
.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  background-color: white;
  border-bottom: 1px solid rgb(218, 218, 218);
}
.logo {
  background-image: url("images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 100px;
}
.header-nav > h4:hover {
  color: #fb2878;
  cursor: pointer;
}

/* All Categories */
.categories-nav {
  justify-content: center;
  padding: 15px;
  margin-bottom: 5px;
  gap: 50px;
  color: rgb(116, 114, 114);
  background-color: white;
  box-shadow: 0 2px 3px rgb(197, 197, 197);
}
.categories-nav > p:hover {
  color: #fb2878;
  cursor: pointer;
}

/* Slider */
.slider {
  display: flex;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-name: slider;
  overflow: hidden;
}
.slider > img {
  width: 100vw;
}
@keyframes slider {
  0%,
  5% {
    margin-left: 0vw;
  }
  10%,
  15% {
    margin-left: -100vw;
  }
  20%,
  25% {
    margin-left: -200vw;
  }
  30%,
  35% {
    margin-left: -300vw;
  }
  40%,
  45% {
    margin-left: -400vw;
  }
  50%,
  55% {
    margin-left: -500vw;
  }
  60%,
  65% {
    margin-left: -600vw;
  }
  70%,
  75% {
    margin-left: -700vw;
  }
  80%,
  85% {
    margin-left: -800vw;
  }
  90%,
  95% {
    margin-left: -900vw;
  }
  100%,
  0% {
    margin-left: 0vw;
  }
}

/* Coupon */
.coupon {
  overflow: hidden;
  margin: 15px 0 0 30px;
}
.coupon-description {
  width: 33vw;
  position: absolute;
  margin: 18px;
  z-index: -1;
}
.pink-text {
  color: #fb2878;
  font-size: 15px;
}
.hover {
  display: flex; 
  align-items: center;
  transition: all 1s;
}
.hover:hover {
  transform: translateX(35.5vw);
  transition: all 1s;
}
.coupon img {
  width: 60vw;
}
.coupon img:hover {
  box-shadow: 0 0 6px rgb(116, 114, 114);
  cursor: pointer;
}
.coupon h1 {
  padding: 60px;
  font-size: 30px;
}
.coupon span {
  font-size: 60px;
  color: #fb2878;
}

.section2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Background Video */
.section2 video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: -1;
}

/* Form */
.form {
  backdrop-filter: blur(40px);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.section2 form {
  padding: 40px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #fb2878;
  border-radius: 5px;
  text-shadow: 2px 2px 0 black;
}
.newsletter {
  margin: 10px;
  display: flex;
  align-items: center;
}

.section3,
.section4 {
  background-color: rgb(238, 238, 238);
}
.section-heading {
  text-align: center;
  padding: 45px 0 20px 0;
}

/* Spotlight Section */
.section3 {
  padding: 0 16vw;
}
.spotlight-cards {
  grid-template-columns: 1fr 1fr;
}
.spotlight-card > img {
  width: 32vw;
}

/* Editor's Choice Section */
.editor-cards {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 8vw;
}
.editor-card > img {
  width: 15vw;
}

/* Cards */
.cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
.card-details {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: -5px;
  margin-bottom: 30px;
}

footer {
  background-color: #fb2878;
  padding: 32px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 500;
}
