img {
  height: 100px;
}

table {
  border: 1px solid black;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 10px 20px;
  vertical-align: top;
}

input {
  margin-bottom: 5px;
}

#header {
  display: flex;
}