* {
  font-family: 'PT Serif', serif;
}
body {
  margin: 0;
  padding: 0 30px;
}
img {
  height: 180px;
}

header, nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  margin-left: 30px;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

#section-1 {
  display: flex;
}
article {
  width: 15%;
  margin-right: 30px;
  border: 1px solid black;
  padding: 10px;
}
table {
  width: 80vw;
}
th {
  text-align: left;
}
input {
  margin: 10px;
}
td > input {
  width: 80%;
}
input[type="reset"], [type="submit"] {
  background-color: rgb(114, 209, 247);
  border: none;
  box-shadow: 2px 2px 6px rgb(117, 116, 116);
  padding: 8px 50px;
  font-size: 15px;
}

#section-2 {
  display: flex;
  margin: 55px;
  margin-bottom: 42px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(206, 203, 203);
  padding: 18px;
  margin: 0 -30px;
}