body {
  margin: 0;
  background-color: rgb(240, 239, 239);
}
section {
  background-color: #fff;
  margin: 10px;
}
a {
  text-decoration: none;
  color: white;
}
button {
  cursor: pointer;
  background-color: white;
  color: .2874F0;
  border: none;
  border-radius: 1px;
  padding: 7px 40px;
  font-size: 18px;
  box-shadow: 0 0 3px rgb(105, 105, 105);
}

header {
  background-color: #2874F0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: grid;
  justify-items: center;
  font-size: 13px;
}
.logo img {
  height: 22px;
}
.plus {
  color: rgb(255, 230, 0);
}
.plus img {
  height: 12px;
  margin-bottom: 2px;
}

.search {
  margin: 0 20px;
}
input[type="search"] {
  padding: 10px 20px;
  width: 550px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgb(134, 134, 134);
}
::placeholder {
  font-size: 16px;
}
.search i {
  color: .2874F0;
  font-size: 18px;
  margin-left: -35px;
  margin-right: 180px;
}

nav {
  color: white;
  margin-left: 50px;
  display: flex;
  gap: 50px;
  font-size: 18px;
}

.categories {
  margin: 0;
  box-shadow: 0 2px 3px rgb(146, 146, 146);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: -5px;
}
.items {
  text-align: center;
}
.items img {
  height: 70px;
  margin-bottom: -15px;
}
.items:hover {
  color: #2874F0;
  cursor: pointer;
}

.slider {
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
  transition: margin-left ease 2s;
}
.slider:hover {
  margin-left: -100vw;
}
.slider img {
  width: 100vw;
  object-fit: cover;
}

.grid {
  padding: 0 15px 15px 15px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading button {
  height: fit-content;
  background-color: #2874F0;
  color: #fff;
  padding: 8px 15px;
  font-size: 15px;
}
.grid-items {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 20px;
}
.grid-item {
  text-align: center;
}
.grid-item:hover {
  cursor: pointer;
  color: #2874F0;
}
.grid-item img {
  height: 150px;
}

footer {
  background-color: rgb(177, 175, 175);
  text-align: center;
  padding: 10px;
  font-weight: bold;
}